*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-white: #fff;
  --color-secondary:#DD5413;
  --color-secondarydeep: #A31C0A; 
  --color-lightblack: #191919;
  --color-lighterblack: #4A4847;
  --color-black: #000;
  --color-light-opacity: #BA3927;


}

body {
 font-family: 'Lato', sans-serif;
}